langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-mistralai

chromadb

sentence-transformers
transformers
huggingface-hub

pypdf
pymupdf

python-docx
docx2txt

beautifulsoup4
lxml
requests

pandas
numpy

python-dotenv
tiktoken

streamlit

tqdm
tenacity
pydantic
Pillow

loguru

fastapi
uvicorn

ragas
datasets

rich